<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-05fac1fd-345a-4ffd-af9c-baa55af0e0b7;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-05fac1fd-345a-4ffd-af9c-baa55af0e0b7.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS; Intital Catalog=Chinook; Integrated Security=true"  
       providerName ="System.Data.SqlClient"/>
</connectionStrings>
